<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://static-prod.adweek.com/wp-content/uploads/2021/08/YelpLogoAugust2021.jpg" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to "View all restaurants", restaurants_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Add new restaurant", new_restaurant_path, class: "nav-link" %>
        </li>

      </ul>
    </div>
  </div>
</div>
    <%= yield %>
  </body>
</html>
